/* #e1f4fe light blue*/
/* #481099 violet */
/* #6673f0 dark blue*/
  
body{
    background-color:#6673f0 ;
}

#title{
    margin-left: 5px;
    padding: 5px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.dropdown-menu-right {
    right: 0;
    left: auto;
  }

.custom-header{
border-radius: 25px;
}
.navB{
border-radius: 25px;
}

#head-text{
    margin-left:1%;
    margin-top:1%;
    font-size: 5vh;
    text-decoration: underline;
}

#details{
    background-color: white;
}

#winner-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
}
.btn-center {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #6673f0; /* Change to the desired hover color */
    color: white; /* Change to the desired text color */
}

.placeholder{
    margin: 20px;
}

.details-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.details{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:start;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}